body {
  margin: 0 auto;
  background: #ffffff;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}